@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

body {
    background: linear-gradient(to bottom, #00010D, #071126);
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 100px;
    z-index: 1000;
}


header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

header a:hover {
    color: #ADB8D9;
}

header #logo {
    font-size: 30px;
    font-weight: 700;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin-left: 20px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

section img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}